:root {
  --mainColor: white;
}

@font-face {
  font-family: ubuntu;
  src: url(../Fonts/Ubuntu/Ubuntu-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(56, 56, 56);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-shadow: 1.5px 1.5px 2px rgba(128, 128, 128, 0.504)
}

header img {
  width: 30px;
  filter: invert(1);
}

header * {
  cursor: pointer;
  margin-inline: 10px;
}

div.search {
  border: none;
  padding: 0;
  margin-right: auto;
  cursor: default;
}

input.search {
  cursor: text;
  width: 260px;
  border-radius: 15px;
  border: 1px solid black;
  display: block;
  padding: 7px 3px 7px 35px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  filter: invert(1);
  outline-color: red;
}

.login {
  padding: 9px 15px;
  border-radius: 15px;
  border: .5px solid #555;
}

section.initial {
  display: flex;
  height: calc(100vh - 94.5px); /* maximum height minus the header and footer */
}

section .menu {
  position: relative;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--mainColor);
  padding: 40px 30px;
  font-size: 20px;
}

section .menu-item {
  height: max-content;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.menu-item p, 
.menu-item img {
  cursor: pointer;
  font-size: 17px;
}

section .menu img {
  padding-right: 10px;
}

section .projects {
  color: rgba(204, 203, 203, 0.875);
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects img {
  filter: invert(1);
  width: 35px;
  opacity: .65;
}

section .menu .line {
  position: absolute;
  width: 0;
  height: 90%;
  right: 0;
  top: 35px;

  border: .5px solid rgb(124, 124, 124);
}

section .main {
  width: 100%;
  padding: 20px 50px;
  display: flex;
}

h1 {
  font-size: 30px;
}

section .content {
  width: 100%;
  align-self: center;
  height: 100%;
  color: var(--mainColor);
  padding: 20px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.content-options {
  filter: invert(1);
  display: flex;
  gap: 15px;
  opacity: .65;
}

.taskview {
  position: relative;
  height: 70vh;
  overflow-y: scroll;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgb(0, 0, 0);
  border: solid 12px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(255, 255, 255);
  border: solid 12px transparent;
}

.task {
  background-color: rgb(101, 103, 104);
  margin-top: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 2%;
  border-radius: 10px;
}

.task > p {
  margin-left: auto;
}

.taskPriorityShow {
  text-shadow: .5px .5px .5px rgb(112, 111, 111);
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 5px;
}

.allContent {
  display: block;
}

.todayContent {
  display: none;
}

.upcomingContent {
  display: none;
}

.importantContent {
  display: none;
}

.allContent,
.todayContent,
.upcomingContent,
.importantContent {
  position: absolute;
  height: 100%;
  width: 100%;
}


footer {
  padding: 10px;
  margin-top: auto;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(208, 208, 208);
}

a img {
  width: 20px;
}