:root {
  --mainColor: white;
}

@font-face {
  font-family: jetbrains;
  src: url(../Fonts/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Medium.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jetbrains, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
}

button {
  letter-spacing: 1.5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(56, 56, 56);
  overflow: hidden;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 1.5px 1.5px 2px rgba(128, 128, 128, 0.504)
}

header img {
  width: 30px;
  filter: invert(1);
}

header * {
  cursor: pointer;
  margin-inline: 10px;
  color: var(--mainColor);
}

section.initial {
  display: flex;
  height: calc(100vh - 100px); /* maximum height minus the header and footer */
}

.menu {
  position: relative;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--mainColor);
  padding: 40px 30px;
  font-size: 20px;
  z-index: 10;
}

section .main {
  position: absolute;
  height: calc(100vh - 90px);
  width: 100%;
  padding: 20px 50px;
  padding-left: 350px;
  display: flex;
  transition: padding-left .5s;
}

.open-menu {
  animation: slideMenu .5s;
  display: block;
}

.close-menu {
  animation: slideBack .5s;
}

@keyframes slideMenu { from { left: -300px; } to { left: 0px; } }
@keyframes slideBack { from { left: 0px; } to { left: -300px; } }


section .menu-item {
  height: max-content;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.menu-item p, 
.menu-item img {
  cursor: pointer;
  font-size: 17px;
}

.menu-item img {
  padding-right: 10px;
}

.menu > .data-1 p{
  font-size: 21px;
  font-weight: 600;
}

.active-menu-item {
  font-style: oblique;
}

ol > li {
  display: flex;
  justify-content: space-between;
}

li img {
  width: 30px;
}

section .menu .line {
  position: absolute;
  width: 0;
  height: 90%;
  right: 0;
  top: 35px;

  border: .5px solid rgb(124, 124, 124);
}


h1 {
  font-size: 30px;
  font-weight: 500;
}

section .content {
  position: relative;
  width: 100%;
  align-self: center;
  height: 100%;
  color: var(--mainColor);
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.feedback {
  height: 25px;
  font-size: 15px;
  color: rgb(15, 185, 15);
}

.taskview {
  position: absolute;
  overflow: auto;
  width: 100%;
  max-height: calc(100% - 80px);
  top: 60px;
}

.missingContent {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.missingContent img {
  width: 250px;
  opacity: .5;
  cursor: default;
  margin-top: -50px;
}

.missingContent p {
  opacity: .6;
  text-align: center;
  padding: 10px 0;
  cursor: default;
}

.missingHide {
  display: none;
}

.missingShow {
  display: block;
}

.allDoneBtn {
  padding: 8px;
  background-color: var(--transparent);
  color: var(--mainColor);
  border: .5px solid white;
  border-radius: 5px;
  opacity: .8;
  cursor: pointer;
}

.allDoneBtn:hover {
  transform: translateY(2px);
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgb(0, 0, 0);
  border: solid 12px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(255, 255, 255);
  border: solid 12px transparent;
}

.task {
  background-color: rgb(75, 75, 75);
  margin-top: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.task > p {
  margin-left: auto;
}

.taskPriorityShow {
  padding: 0;
  margin: 0;
}


.optionDiv {
  text-shadow: .5px .5px .5px rgb(112, 111, 111);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.optionDiv img {
  width: 30px;
  height: 30px;
}

.allContent,
.todayContent,
.upcomingContent,
.importantContent,
.projectContent {
  height: 100%;
  width: 100%;
  display: none;
}

.active-tab {
  display: block;
}

.dueContent {
  display: flex;
  gap: 8px;
  padding-top: 14px;
  padding-bottom: 5px;
}

.dueContent img {
  width: 20px;
  filter: invert(1);
  cursor: pointer;
}

.task > div > p {
  padding-top: 5px;
  font-size: 12px;
  height: auto;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.edit,
.binProject,
#dueDate {
  cursor: pointer;
}

.edit:hover,
.binProject:hover,
.addTodo:hover {
  transform: scale(1.2);
}

.location:hover {
  cursor: pointer;
}

footer {
  padding: 12px;
  margin-top: -10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(208, 208, 208);
}

a img {
  width: 20px;
}